<style>
  .recent-blog-posts{
    width: 100%;
    display: flex;
    gap: 20px;

    .swiper-slide{
      flex-shrink: initial;
    }

    @media (width < 768px) {
      flex-direction: column;
      gap: 64px;
    }
  }
</style>

<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<div
  class="
    section
    color-scheme-1
    blog-posts
    spacing-style
    size-style
    blog-main-wrapper
  "
  style="{% render 'spacing-style', settings: section.settings %}"
>
  {% assign sorted_articles = blog.articles | sort: 'published_at' | reverse %}
  <div class="recent-blog-posts">
    {% content_for 'blocks' %}
    {% for article in sorted_articles %}
      {% if forloop.index > 2 %}
        {% break %}
      {% endif %}
      <div
        class="blog-post-item"
        ref="cards[]"
        data-page="{{ forloop.index }}"
      >
        {% content_for 'block', id: 'static-blog-post-card', type: '_blog-post-card', article: article %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Recent blog posts",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:settings.color_scheme",
        "default": "scheme-1"
      },
      {
        "type": "header",
        "content": "t:content.padding"
      },
      {
        "type": "range",
        "id": "padding-block-start",
        "label": "t:settings.top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding-block-end",
        "label": "t:settings.bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "Recent blog posts"
      }
    ]
  }
{% endschema %}